/* size */
$middle-size: 978px;
$large-size: 1200px;

/* border */
$border-weak-line: 1px solid #eee;
$border-normal-line: 1px solid #ccc;
$border-strong-line: 1px solid black;
$box-shadow-normal: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
$box-shadow-strong: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;

$border-default-line: 1px solid rgba(22, 24, 35, 0.03);
$box-shadow-default: rgba(0, 0, 0, 0.06) 0px 2px 8px;

/* backgroundcolor */
$agree-background-color: deepskyblue;
$disagree-background-color: tomato;
$primary-color: #6877ff;
