/* size */
$middle-size: 978px;
$large-size: 1200px;

/* border */
$border-weak-line: 1px solid #eee;
$border-normal-line: 1px solid #ccc;
$border-strong-line: 1px solid black;

/* backgroundcolor */
$agree-background-color: deepskyblue;
$disagree-background-color: tomato;
$primary-color: #6877ff;
