/* size */
$middle-size: 978px;
$large-size: 1200px;

/* border */
$border-weak-line: 1px solid #eee;
$border-normal-line: 1px solid #ccc;

/* backgroundcolor */
$agree-background-color: deepskyblue;
$disagree-background-color: tomato;
